<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Tervetuloa JAMK Frontend-kurssin tehtävä 4 Angular-kotisivulle!</h2>
    </mat-card-title>
    <mat-card-subtitle>
      Pakollinen kuva sekä random faktoja minusta:
    </mat-card-subtitle>
  </mat-card-header>

  <img id="ratsu" mat-card-image src="assets/P8070228.jpg" />

  <mat-card-content>

    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor='let fakta of datas'>
        {{ fakta.info }}
      </mat-list-item>
    </mat-list>

  </mat-card-content>
</mat-card>