<h2>Koulujuttuja:</h2>

<h3>JAMK - Jyväskylän ammattikorkeakoulu</h3>
<h4>Web-kehittäjä 30 op, 2021</h4>
<ul>
  <li>Basics of Web</li>
  <li>Ohjelmistokehityksen työvälineet</li>
  <li>Ohjelmoinnin perusteet</li>
  <li>Relaatiotietokannat</li>
  <li>AWS-palvelut</li>
  <li>Tietorakenteet ja algoritmit</li>
  <li>Frontend-sovelluskehitys</li>
  <li>Mobiilikehitys web-tekniikoilla</li>
  <li>NoSQL-tietokannat</li>
  <li>NodeJS-sovelluskehitys</li>
  <li>Lopputyö</li>
</ul>

<h4>Kyberturvallisuus 30 op, 2021</h4>

<ul>
  <li>Git-versiohallinta ja Gitlab -projektien hallintaympäristö</li>
  <li>Linux käyttö ja hallinta</li>
  <li>Ohjelmoinnin perusteet</li>
  <li>Tietoverkot</li>
  <li>Kyberturvallisuus</li>
  <li>Auditointi, penetraatiotestaus ja Red Team -toiminta</li>
  <li>Hyökkäykset ja puolustusmenetelmät</li>
</ul>

<h3>TAMK - Tampereen ammattikorkeakoulu</h3>
<h4>Tietotekniikan insinööri, 2014</h4>
<ul>
  <li>Ohjelmistotekniikka</li>
  <li><a href="http://urn.fi/URN:NBN:fi:amk-2014120418575">Opinnäytetyö: Hälytyspalvelu Java-palvelimessa</a></li>
</ul>