<h2>Koulujuttuja:</h2>>

<h3>Web-kehittäjä 30 op</h3>

<ul>
  <li>Basics of Web</li>
  <li>Ohjelmistokehityksen työvälineet</li>
  <li>Ohjelmoinnin perusteet</li>
  <li>Relaatiotietokannat</li>
  <li>AWS-palvelut</li>
  <li>Tietorakenteet ja algoritmit</li>
  <li>Frontend-sovelluskehitys</li>
  <li>Mobiilikehitys web-tekniikoilla</li>
  <li>NoSQL-tietokannat</li>
  <li>NodeJS-sovelluskehitys</li>
  <li>Lopputyö</li>
</ul>

<h3>Kyberturvallisuus 30 op</h3>

<ul>
  <li>Git-versiohallinta ja Gitlab -projektien hallintaympäristö</li>
  <li>Linux käyttö ja hallinta</li>
  <li>Ohjelmoinnin perusteet</li>
  <li>Tietoverkot</li>
  <li>Kyberturvallisuus</li>
  <li>Auditointi, penetraatiotestaus ja Red Team -toiminta</li>
  <li>Hyökkäykset ja puolustusmenetelmät</li>
</ul>