/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/purple-green.css";
@import "../node_modules/leaflet/dist/leaflet.css";

html,
body {
  height: 100%;
}
body {
  margin: 2rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#ratsu {
  max-width: 700px;
  margin: 0.5rem;
}
